<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeatherAPIKey</key>
	<string>22e889c799afedf5c6e628b322bc0765
22e889c799afedf5c6e628b322bc0765
22e889c799afedf5c6e628b322bc0765
</string>
</dict>
</plist>
